@font-face {
    font-family: 'Space Mono Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Space Mono Regular'), url('space-mono.regular.woff') format('woff');
  }
  
  body {
    font-family: 'Space Mono Regular';
    background-color: rgb(240, 214, 240);
    margin: 0;
  }
  
  .titlebar, .titlebar > * {
    font-family: Roboto, sans-serif;
    font-size: 20px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #21b3b8;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }